
@font-face {
    font-family: "Segoe ui historic" , sans-serif;
    src: url(./font/Segoe\ ui\ historic.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    
    height: 100vh;
    font-family: "Segoe ui historic";
    flex-direction: column;
    background-color: #F0F2F5;
    width: 100%;
}
.navBar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    padding: 0px 20px;
    background-color: #fff;
}
.searchBox{
    position: relative;
}
.search{
    width: 300px;
    height: 55px;
    padding: 15px;
    border-radius: 35px;
    border: none;
    background-color: #F0F2F5;
    font-size: 20px;
    padding-left: 45px;
}



.fa-magnifying-glass{
    font-size: 20px;
    position: absolute;
    left: 14px;
    top: 18px;
    color: #65676B;
}
.navLogo{
    display: flex;
    align-items: center;
    width: 30%;
    gap: 10px;
}
.fa-facebook{
    font-size: 50px;
    color: #1877F2;
}
.navCenter{
    display: flex;
    align-items: center;
    width: 30%;
    justify-content: center;
    gap: 10px;
}
.navCenter span{
    width: 150px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
}
.navCenter span:hover{
    background-color: #F0F2F5;
    
}
.navIcon{
    width: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
}
.navIcon span img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.navIcon span{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #F0F2F5;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navIcon .arrow{
    position: absolute;
    background-color: #F0F2F5;
    bottom: -4px;
    right: 0px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #fff;
}
.navIcon .profileImg{
    position: relative;
}
.container{
    display: flex;
    width: 100%;
    background-color: #F0F2F5;
}
.leftSideBar{
    width: 25%;
    padding-top: 10px;
    

}
.leftSideBar span img{
    width: 30px;
    height: 30px;
    
}
.leftSideBar li{
    display: flex;
    align-items: center;
    margin: 5px 0px 0px 10px;
    padding: 8px 10px;
    border-radius: 8px;
    gap: 20px;
    font-size: 15px;
    font-weight: 600;
    color: rgb(5, 5, 5);
}
.leftSideBar li:hover{
    background-color: #dcdfe6;
}
.sideProfile{
    border-radius: 50%;
}
.center{
    display: flex;
    flex-direction: column;
    height: 650px;
    width:700px;
    margin: auto;
    border-radius: 16px;
    overflow: auto;
    background-color: #fff;
    margin-top: 20px;
}
.topBar{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px ;
    width: 100%;
}
.topBar h1{
    width: 90%;
    text-align: center;
}
.topBar span{
    text-align: center;
    width: 40px;
    background-color: #e4e6eb;
    border-radius: 50%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.topBar i{
    font-size: 25px;
    font-weight: 600 !important;
    cursor: pointer;
}
.profile-img img{
    width: 70px;
    height: 70px;
    border-radius: 50%;

}
.profileName{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
.profile{
    display: flex;
    padding: 10px 10px;
    align-items: center;
}
.profile p{
    font-weight: 800;
    font-size: 20px;
}
.publicPara{
    display: flex;
    gap: 8px;
    padding: 4px 0px;
    background-color: #E4E6EB;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    font-size: 16px !important;
    cursor: pointer;
}
.mainContent{
    width: 50%;
}
.slider{
    width: 100%;
    padding-top: 20px;
    display: flex;
    gap: 10px;
}
.card{
    width: 150px;
    height: 250px;
    background-color: #fff;
    border-radius: 16px;
    text-align: center;
    position: relative;
    cursor: pointer;
}
.plus{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #1877F2;
    border: 4px solid #fff;
    position: absolute;
    top: 170px;
    left: 58px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.plus i{
    color: #fff;
}
.card p{
    margin-top: 25px;
    font-size: 14px;
    font-weight: 600;
}

.cardImg{
    width: 100%;
    height: 75%;
    background-image: url(./profile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 16px 16px 0px 0px;
}
.card img{
    width: 100%;
    height: 100%;
    border-radius: 16px;
}
.center{
    height: 40%;
    width: 100%;
}
.center textarea{
    width: 100%;
    height: 100%;
    border: none;
    padding: 10px 10px;
    font-size: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}
textarea::placeholder{
    font-size: 25px;
    color: #77797C;
}
textarea:focus{
    border: none;
}
.optOne{
    background-color: #F0F2F5;
}
.backgroundPicker{
    display: flex;
    align-items: center;
}
.backgroundOpt{
    display: none;
    gap: 5px;
    transition: 1s ease-out;
    
}
.backgroundOpt img , .backgroundOpt div{
    width: 40px;
    height: 40px;
    border-radius: 8px;
    cursor: pointer;
}
.optOne{
    background-color: #E4E6EB;
    border: 2px #fff;
    box-shadow: inset 0 0 0 3px rgb(255, 255, 255),0 0 5px 0 rgb(240 , 240 , 240);
}

.optSeven{
    background-color: #C600FF;
}
.optEight{
    background-color: #E2013B;
}
.optNine{
    background-color: #f6f865;
}
.background , .background img {
    width: 53px;
    height: 53px;
    position: relative;
}
.toggleOpen{
    position: absolute;
    width: 40px;
    height: 40px;
    left: 10px;
    top: 7px;
    background-color: #E4E6EB;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}
.toggleBox{
    cursor: pointer;
}
.tagOption{
    display: flex;
    margin: 10px 10px 0px 10px;
    border: 1px solid rgba(0, 0, 0, 0.2) ;
    padding: 15px 10px ;
    border-radius: 8px;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 800;
    flex-wrap: wrap;
    gap: 10px;
}
.icons{
    display: flex;
    gap: 10px;
    font-size: 25px;
    cursor: pointer;
   
}
.icons span{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.icons i:hover{
    background-color: #E4E6EB;
}
.icons span:first-child i:first-child{
    color: #45BD62;
}
#post{
    padding: 10px 10px;
    border-radius: 8px;
    margin: 10px;
    border: none;
    background-color: #1877F2;
    color: #ffff;
    font-size: 20px;
    font-weight: 600;
}
.resultBox{
    padding: 0px 10px;
    font-size: 15px;

}
#result p{
    background-color: #E4E6EB;
    padding: 10px;
    border-radius: 8px;
    margin: 0px 10px;
}
#textColor , #backgroundColor{
    --webkit-appearance: none;
    border-radius: 8px;
    width: 40px;
    height: 40px;
    padding: 0;
    border: none;
    outline: none;
    background-color: #000  ;
    cursor: pointer;
}
#textColor , #backgroundColor::-webkit-color-swatch{
    border: none;
    border-radius: 8px;
    padding: 0;
}
#textColor , #backgroundColor::-webkit-color-swatch-wrapper {
    border: none;
    border-radius: 8px;
    padding: 0;
  }
.commentOption {
    display: none;
    justify-content: space-around;
    align-items: center;
    padding: 13px 0px;
    border-top:1px solid #a2a3a5;
    margin: 30px 10px 0px 10px;
    
}
.commentOption span{
    font-size: 20px;
    font-weight: 500;
    color: #898A8D;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
}
.commentOption span img{
    width: 22px;
    height: 22px;
}
.emoji{
    width: 350px;
    height: 80px;
    background-color: #1877F2;
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    gap: 11px;
    position: absolute;
    top: -56px;
    
}

.emoji img:hover{
    scale: 1.5;
}
.commentContainer{
    position: relative;
}
.mobileNavBar{
    display: none;
    width: 100%;
    background-color: #fff;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
    flex-direction: column;
}
.mobileNavBar .mobileImg{
    width: 80px;
    height: 70px;
}
.mobileTop{
    display: flex;
    align-items: center;
    width: 100%;
}
.mobileBottom{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 5px 10px;
}

@media screen and (max-width:1450px) {
    .search{
        width: 50px;
        height: 50px;
        padding: 0;
    }
    
}
@media screen and (max-width:1280px) {
    .navIcon span{
        width: 40px;
        height: 40px;
    }
    .navLogo , .navIcon{
        width: 25%;
    }
    .navCenter{
        width: 50%;
    }
    
    .search{
        width: 40px;
        height: 40px;
        padding: 0;
    }
    .fa-magnifying-glass{
        font-size: 15px;
        top: 14px;
        left: 12px;
    }
    .navLogo span i{
        font-size: 40px;
    }
    .navIcon span svg {
        width: 15px;
        height: 15px;
    }
    .navCenter svg{
        width: 25px;
        height: 25px;
    }
    .navIcon .arrow{
        width: 15px;
        height: 15px;
    }
    .center span{
        width: 150px;
       

    }
    
}
@media screen and (max-width:926px) {
    .navIcon span{
        width: 40px;
        height: 40px;
    }
    .navIcon span svg{
        width: 15px;
        height: 15px;
    }
    .navIcon .arrow{
        width: 15px;
        height: 15px;
    }
    .center span{
        width: 80px;
        
    }
    .center span svg{
        width: 30px;
        height: 30px;
    }
    
}
@media screen and (max-width:768px){
    .navBar{
        display: none;
    }
    .mobileNavBar{
        display: flex;
    }
    .container{
        width: 95%;
        height: 80vh;
        margin: 20px 10px 0px 10px;
    }
    .backgroundOpt img , .background img , #textColor, #backgroundColor , .backgroundOpt div , .toggleOpen {
        width: 30px;
        height: 30px;
    }
    .background{
        width: 43px;
        height: 43px;
    }
    .tagOption{
        justify-content: center;
    }
    .navIcon{
        width: 100%;
    }
    .topBar{
        padding: 0px 10px;
    }
    .topBar span{
        width: 30px;
        height: 30px;
    }
    .topBar i{
        font-size: 20px;
    }
    .commentOption span{
        font-size: 15px;
    }
}
@media screen and (max-width:408px){

    .backgroundOpt img , .background img, #textColor, #backgroundColor , .backgroundOpt div , .toggleOpen {
        width: 25px;
        height: 25px;
    }
    .background{
        width: 38px;
        height: 38px;
    }
    .profile-img img{
        width: 50px;
        height: 50px;
    }
}
