
@font-face {
    font-family: "Segoe ui historic" , sans-serif;
    src: url(./font/Segoe\ ui\ historic.ttf);
}
*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Segoe ui historic";
}
.container{
    display: flex;
    flex-direction: column;
    height: 80vh;
    width:500px;
    margin: auto;
    border-radius: 16px;
    border: 1px solid;
}
.topBar{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px ;
    width: 100%;
}
.topBar h1{
    width: 90%;
    text-align: center;
}
.topBar span{
    text-align: center;
    width: 40px;
    background-color: #e4e6eb;
    border-radius: 50%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.topBar i{
    font-size: 25px;
    font-weight: 600 !important;
    cursor: pointer;
}
.profile-img img{
    width: 70px;
    height: 70px;
    border-radius: 50%;

}
.profileName{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
.profile{
    display: flex;
    padding: 10px 10px;
    align-items: center;
}
.profile p{
    font-weight: 800;
    font-size: 20px;
}
.publicPara{
    display: flex;
    gap: 8px;
    padding: 4px 0px;
    background-color: #E4E6EB;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    font-size: 16px !important;
    cursor: pointer;
}
.center{
    height: 40%;
    width: 100%;
}
.center textarea{
    width: 95%;
    height: 100%;
    border: none;
    padding: 0 10px;
    font-size: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}
textarea::placeholder{
    font-size: 25px;
    color: #77797C;
}
textarea:focus{
    border: none;
}
.optOne{
    background-color: #f0f2f5;
}
.backgroundPicker{
    display: flex;
    align-items: center;
}
.backgroundOpt{
    display: flex;
    gap: 5px;
}
.backgroundOpt div{
    width: 35px;
    height: 35px;
    border-radius: 8px;
}
.optOne{
    background-image: url(./img/optTwo.webp);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}
.optTwo{
    background-image: url(./img/optTwo.webp);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}
.optThree{
    background-image: url(./img/optTwo.webp);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}
.optFour{
    background-image: url(./img/optTwo.webp);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}
.optFive{
    background-image: url(./img/optTwo.webp);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}
.optSix{
    background-image: url(./img/optTwo.webp);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}
.optSeven{
    background-image: url(./img/optTwo.webp);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}
.optEight{
    background-image: url(./img/optTwo.webp);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}
.optNine{
    background-image: url(./img/optTwo.webp);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}
.optTen{
    background-image: url(./img/optTwo.webp);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}
.background , .background img {
    width: 45px;
    height: 45px;
}
.toggleBox{
    cursor: pointer;
}
.tagOption{
    display: flex;
    margin: 0px 10px;
    border: 1px solid rgba(0, 0, 0, 0.2) ;
    padding: 15px 10px ;
    border-radius: 8px;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 800;
}
.icons{
    display: flex;
    gap: 10px;
    font-size: 25px;
    cursor: pointer;
   
}
.icons span{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.icons i:hover{
    background-color: #E4E6EB;
}
.icons span:first-child i:first-child{
    color: #45BD62;
}
